<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lucky.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--安卓8.0之后，自动安装程序需要的权限-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/xxdj"
        android:label="信息党建"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".CommunistPartyActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".TempNewsActivity" />
        <activity android:name=".ParkDetailsActivity" />
        <activity android:name=".AdvancedfiguresActivity" />
        <activity android:name=".StudyActivity" />
        <activity android:name=".CharacterdetailsActivity" />
        <activity android:name=".StudydetailsActivity" />
        <activity android:name=".ThinkingActivity" />
        <activity android:name=".AnswerActivity" />
        <activity android:name=".BirthdayActivity" />
        <activity android:name=".BirthdaydetailsActivity" />
        <activity android:name=".ProposalActivity2" />
        <activity android:name=".AnswerDetailActivity" />
        <activity android:name=".RankingActivity" />
        <activity android:name=".IntegralActivity" />
        <activity android:name=".AdvancedDetailActivity" />

        <!--自动安装软件需要的provider-->
        <provider

            android:name="android.support.v4.content.FileProvider"

            android:authorities="com.example.lucky.myapplication.provider"

            android:grantUriPermissions="true"

            android:exported="false">

            <meta-data

                android:name="android.support.FILE_PROVIDER_PATHS"

                android:resource="@xml/file_paths"/>

        </provider>
    </application>

</manifest>